In [1]:
pip install pdfminer.six

Collecting pdfminer.sixNote: you may need to restart the kernel to use updated packages.
  Downloading pdfminer.six-20200726-py3-none-any.whl (5.6 MB)
Requirement already satisfied: cryptography in d:\users\akshay\anaconda3\lib\site-packages (from pdfminer.six) (2.9.2)
Requirement already satisfied: chardet; python_version > "3.0" in d:\users\akshay\anaconda3\lib\site-packages (from pdfminer.six) (3.0.4)
Collecting sortedcontainers
  Downloading sortedcontainers-2.2.2-py2.py3-none-any.whl (29 kB)
Requirement already satisfied: cffi!=1.11.3,>=1.8 in d:\users\akshay\anaconda3\lib\site-packages (from cryptography->pdfminer.six) (1.14.0)
Requirement already satisfied: six>=1.4.1 in d:\users\akshay\anaconda3\lib\site-packages (from cryptography->pdfminer.six) (1.15.0)
Requirement already satisfied: pycparser in d:\users\akshay\anaconda3\lib\site-packages (from cffi!=1.11.3,>=1.8->cryptography->pdfminer.six) (2.20)
Installing collected packages: sortedcontainers, pdfminer.six
Successfully installed pdfminer.six-20200726 sortedcontainers-2.2.2

In [69]:
import pdfminer #At the starting I used pdfminer to extract csv out of PDF file(college_cutoffs.pdf)

In [15]:
import csv
import os
def export_as_csv(pdf_path, csv_path):
    filename = os.path.splitext(os.path.basename(pdf_path))[0]
    counter = 1
    text = extract_text_from_pdf(pdf_path)
    with open(csv_path, 'w') as csv_file:
        writer = csv.writer(csv_file)
        words = text.split()
        writer.writerow(words)
if __name__ == '__main__':
    pdf_path = 'college_cutoffs.pdf'
    csv_path = 'cutoffs.csv'
    export_as_csv(pdf_path, csv_path)

In [17]:
#Converted PDF to CSV using ZAMZAR # The inbuilt PDF miner could not differentiate between various categories (GOPENS etc.)

In [19]:
pip install pandas

Collecting pandas
  Downloading pandas-1.1.1-cp37-cp37m-win_amd64.whl (9.4 MB)
Requirement already satisfied: pytz>=2017.2 in d:\users\akshay\anaconda3\lib\site-packages (from pandas) (2020.1)
Requirement already satisfied: python-dateutil>=2.7.3 in d:\users\akshay\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.15.4 in d:\users\akshay\anaconda3\lib\site-packages (from pandas) (1.19.0)
Requirement already satisfied: six>=1.5 in d:\users\akshay\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Installing collected packages: pandas
Successfully installed pandas-1.1.1
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd

In [4]:
data = pd.read_csv("college_cutoffs.csv")

In [5]:
df = pd.DataFrame(data)

In [8]:
df = df[~df[:].isin(['Government of Maharashtra'])]

In [9]:
df# NOW DELETING UNWANTED DATA # DATA CLEANING #DELETING ROWS CONTAINING UNWANTED DATA

,"1002 - Government College of Engineering, Amravati",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,100219110 - Civil Engineering,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Status:,Government Autonomous,NaN,Home University : Sant Gadge Baba Amravati Uni...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,State Level,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,GOPENS,GSCS,GSTS,GVJS,GNT2S,GNT3S,GOBCS,GSEBCS,LOPENS,...,LNT2S,LOBCS,LSEBCS,PWDOPENS,DEFOPENS,EWS,TFWS,NaN,NaN,NaN
4,Stage,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41318,I,69650,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41319,NaN,(24.0098347),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41320,"Legends: Starting character G-General, L-Ladie...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41321,. Maharashtra State Seats - Cut Off Indicates ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41322,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
for col_name in df.columns: 
    df=df[~df[col_name].isin(["State Common Entrance Test Cell"])]

In [25]:
df

,"1002 - Government College of Engineering, Amravati",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,100219110 - Civil Engineering,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Status:,Government Autonomous,NaN,Home University : Sant Gadge Baba Amravati Uni...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,State Level,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,GOPENS,GSCS,GSTS,GVJS,GNT2S,GNT3S,GOBCS,GSEBCS,LOPENS,...,LNT2S,LOBCS,LSEBCS,PWDOPENS,DEFOPENS,EWS,TFWS,NaN,NaN,NaN
4,Stage,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41318,I,69650,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41319,NaN,(24.0098347),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41320,"Legends: Starting character G-General, L-Ladie...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41321,. Maharashtra State Seats - Cut Off Indicates ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41322,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
my_list=["State Common Entrance Test Cell"]
for col_name in df.columns:
    print(col_name)
    #df[~df.col_name.str.contains("State Common Entrance Test Cell", na=False)]

1002 - Government College of Engineering, Amravati
Unnamed: 1
Unnamed: 2
Unnamed: 3
Unnamed: 4
Unnamed: 5
Unnamed: 6
Unnamed: 7
Unnamed: 8
Unnamed: 9
Unnamed: 10
Unnamed: 11
Unnamed: 12
Unnamed: 13
Unnamed: 14
Unnamed: 15
Unnamed: 16
Unnamed: 17
Unnamed: 18
Unnamed: 19
Unnamed: 20
Unnamed: 21
Unnamed: 22

In [43]:
df[[~df.iloc[i,:].str.contains("State Common Entrance Test Cell", na=False).any()  for i in range(0,len(df))]]

,"1002 - Government College of Engineering, Amravati",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,100219110 - Civil Engineering,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Status:,Government Autonomous,NaN,Home University : Sant Gadge Baba Amravati Uni...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,State Level,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,GOPENS,GSCS,GSTS,GVJS,GNT2S,GNT3S,GOBCS,GSEBCS,LOPENS,...,LNT2S,LOBCS,LSEBCS,PWDOPENS,DEFOPENS,EWS,TFWS,NaN,NaN,NaN
4,Stage,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41318,I,69650,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41319,NaN,(24.0098347),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41320,"Legends: Starting character G-General, L-Ladie...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41321,. Maharashtra State Seats - Cut Off Indicates ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41322,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
len(df)

41323

In [45]:
df[[~df.iloc[i,:].str.contains("Government of Maharashtra", na=False).any()  for i in range(0,len(df))]]

,"1002 - Government College of Engineering, Amravati",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,100219110 - Civil Engineering,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Status:,Government Autonomous,NaN,Home University : Sant Gadge Baba Amravati Uni...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,State Level,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,GOPENS,GSCS,GSTS,GVJS,GNT2S,GNT3S,GOBCS,GSEBCS,LOPENS,...,LNT2S,LOBCS,LSEBCS,PWDOPENS,DEFOPENS,EWS,TFWS,NaN,NaN,NaN
4,Stage,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41318,I,69650,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41319,NaN,(24.0098347),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41320,"Legends: Starting character G-General, L-Ladie...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41321,. Maharashtra State Seats - Cut Off Indicates ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41322,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
df[[~df.iloc[i,:].str.contains("Government Autonomous", na=False).any()  for i in range(0,len(df))]]

,"1002 - Government College of Engineering, Amravati",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,100219110 - Civil Engineering,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,State Level,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,GOPENS,GSCS,GSTS,GVJS,GNT2S,GNT3S,GOBCS,GSEBCS,LOPENS,...,LNT2S,LOBCS,LSEBCS,PWDOPENS,DEFOPENS,EWS,TFWS,NaN,NaN,NaN
4,Stage,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,I,9698,16599,28642,11127,19612,10381,11430,14127,8428,...,11019,11580,22466,29243,15132,23463,5336,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41318,I,69650,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41319,NaN,(24.0098347),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41320,"Legends: Starting character G-General, L-Ladie...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41321,. Maharashtra State Seats - Cut Off Indicates ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41322,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df =df[[~df.iloc[i,:].str.contains("Government of Maharashtra", na=False).any()  for i in range(0,len(df))]]

In [7]:
df

,"1002 - Government College of Engineering, Amravati",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,100219110 - Civil Engineering,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Status:,Government Autonomous,NaN,Home University : Sant Gadge Baba Amravati Uni...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,State Level,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,GOPENS,GSCS,GSTS,GVJS,GNT2S,GNT3S,GOBCS,GSEBCS,LOPENS,...,LNT2S,LOBCS,LSEBCS,PWDOPENS,DEFOPENS,EWS,TFWS,NaN,NaN,NaN
4,Stage,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41318,I,69650,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41319,NaN,(24.0098347),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41320,"Legends: Starting character G-General, L-Ladie...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41321,. Maharashtra State Seats - Cut Off Indicates ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41322,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df =df[[~df.iloc[i,:].str.contains("State Level", na=False).any()  for i in range(0,len(df))]]

In [9]:
df

,"1002 - Government College of Engineering, Amravati",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,100219110 - Civil Engineering,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Status:,Government Autonomous,NaN,Home University : Sant Gadge Baba Amravati Uni...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,GOPENS,GSCS,GSTS,GVJS,GNT2S,GNT3S,GOBCS,GSEBCS,LOPENS,...,LNT2S,LOBCS,LSEBCS,PWDOPENS,DEFOPENS,EWS,TFWS,NaN,NaN,NaN
4,Stage,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,I,9698,16599,28642,11127,19612,10381,11430,14127,8428,...,11019,11580,22466,29243,15132,23463,5336,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41317,Stage,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41318,I,69650,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41319,NaN,(24.0098347),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41321,. Maharashtra State Seats - Cut Off Indicates ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41322,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df =df[[~df.iloc[i,:].str.contains("Cut Off List of Maharashtra State Candidature Candidates of", na=False).any()  for i in range(0,len(df))]]

In [58]:
df

,"1002 - Government College of Engineering, Amravati",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,100219110 - Civil Engineering,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Status:,Government Autonomous,NaN,Home University : Sant Gadge Baba Amravati Uni...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,GOPENS,GSCS,GSTS,GVJS,GNT2S,GNT3S,GOBCS,GSEBCS,LOPENS,...,LNT2S,LOBCS,LSEBCS,PWDOPENS,DEFOPENS,EWS,TFWS,NaN,NaN,NaN
4,Stage,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,I,9698,16599,28642,11127,19612,10381,11430,14127,8428,...,11019,11580,22466,29243,15132,23463,5336,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41317,Stage,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41318,I,69650,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41319,NaN,(24.0098347),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41321,. Maharashtra State Seats - Cut Off Indicates ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41322,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df =df[[~df.iloc[i,:].str.contains("Stage", na=False).any()  for i in range(0,len(df))]]

In [60]:
df

,"1002 - Government College of Engineering, Amravati",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,100219110 - Civil Engineering,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Status:,Government Autonomous,NaN,Home University : Sant Gadge Baba Amravati Uni...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,GOPENS,GSCS,GSTS,GVJS,GNT2S,GNT3S,GOBCS,GSEBCS,LOPENS,...,LNT2S,LOBCS,LSEBCS,PWDOPENS,DEFOPENS,EWS,TFWS,NaN,NaN,NaN
5,I,9698,16599,28642,11127,19612,10381,11430,14127,8428,...,11019,11580,22466,29243,15132,23463,5336,NaN,NaN,NaN
6,NaN,(95.4813409),(91.9454241),(83.7510773),(94.7976941),(90.2192884),(95.1547258),(94.6416286),(93.2804907),(96.0918433),...,(94.8483883),(94.5663116),(88.4395617),(83.2108225),(92.7416843),(87.7548286),(97.5366265),NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41316,NaN,LOPENH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41318,I,69650,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41319,NaN,(24.0098347),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41321,. Maharashtra State Seats - Cut Off Indicates ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41322,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df =df[[~df.iloc[i,:].str.contains("Legends: Starting character G-General", na=False).any()  for i in range(0,len(df))]]

In [62]:
df

,"1002 - Government College of Engineering, Amravati",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,100219110 - Civil Engineering,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Status:,Government Autonomous,NaN,Home University : Sant Gadge Baba Amravati Uni...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,GOPENS,GSCS,GSTS,GVJS,GNT2S,GNT3S,GOBCS,GSEBCS,LOPENS,...,LNT2S,LOBCS,LSEBCS,PWDOPENS,DEFOPENS,EWS,TFWS,NaN,NaN,NaN
5,I,9698,16599,28642,11127,19612,10381,11430,14127,8428,...,11019,11580,22466,29243,15132,23463,5336,NaN,NaN,NaN
6,NaN,(95.4813409),(91.9454241),(83.7510773),(94.7976941),(90.2192884),(95.1547258),(94.6416286),(93.2804907),(96.0918433),...,(94.8483883),(94.5663116),(88.4395617),(83.2108225),(92.7416843),(87.7548286),(97.5366265),NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41316,NaN,LOPENH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41318,I,69650,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41319,NaN,(24.0098347),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41321,. Maharashtra State Seats - Cut Off Indicates ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41322,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df =df[[~df.iloc[i,:].str.contains("Maharashtra State Seats", na=False).any()  for i in range(0,len(df))]]

In [64]:
df

,"1002 - Government College of Engineering, Amravati",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,100219110 - Civil Engineering,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Status:,Government Autonomous,NaN,Home University : Sant Gadge Baba Amravati Uni...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,GOPENS,GSCS,GSTS,GVJS,GNT2S,GNT3S,GOBCS,GSEBCS,LOPENS,...,LNT2S,LOBCS,LSEBCS,PWDOPENS,DEFOPENS,EWS,TFWS,NaN,NaN,NaN
5,I,9698,16599,28642,11127,19612,10381,11430,14127,8428,...,11019,11580,22466,29243,15132,23463,5336,NaN,NaN,NaN
6,NaN,(95.4813409),(91.9454241),(83.7510773),(94.7976941),(90.2192884),(95.1547258),(94.6416286),(93.2804907),(96.0918433),...,(94.8483883),(94.5663116),(88.4395617),(83.2108225),(92.7416843),(87.7548286),(97.5366265),NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41315,Home University Seats Allotted to Home Univers...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41316,NaN,LOPENH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41318,I,69650,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41319,NaN,(24.0098347),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41322,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df =df[[~df.iloc[i,:].str.contains("Home University Seats Allotted to Home", na=False).any()  for i in range(0,len(df))]]

In [66]:
df

,"1002 - Government College of Engineering, Amravati",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,100219110 - Civil Engineering,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Status:,Government Autonomous,NaN,Home University : Sant Gadge Baba Amravati Uni...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,GOPENS,GSCS,GSTS,GVJS,GNT2S,GNT3S,GOBCS,GSEBCS,LOPENS,...,LNT2S,LOBCS,LSEBCS,PWDOPENS,DEFOPENS,EWS,TFWS,NaN,NaN,NaN
5,I,9698,16599,28642,11127,19612,10381,11430,14127,8428,...,11019,11580,22466,29243,15132,23463,5336,NaN,NaN,NaN
6,NaN,(95.4813409),(91.9454241),(83.7510773),(94.7976941),(90.2192884),(95.1547258),(94.6416286),(93.2804907),(96.0918433),...,(94.8483883),(94.5663116),(88.4395617),(83.2108225),(92.7416843),(87.7548286),(97.5366265),NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41314,Status:,Home University : Dr. Babasaheb Ambedkar Techn...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41316,NaN,LOPENH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41318,I,69650,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41319,NaN,(24.0098347),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41322,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [67]:
pd.set_option("display.max_rows", None, "display.max_columns", None)

In [15]:
df =df[[~df.iloc[i,:].str.contains("State Common Entrance", na=False).any()  for i in range(0,len(df))]]

In [16]:
df =df[[~df.iloc[i,:].str.contains("Year 2019", na=False).any()  for i in range(0,len(df))]]

In [17]:
df =df[[~df.iloc[i,:].str.contains("Home University Seats Allotted to Other Than", na=False).any()  for i in range(0,len(df))]]

In [18]:
df =df[[~df.iloc[i,:].str.contains("Other Than Home University Seats Allotted", na=False).any()  for i in range(0,len(df))]]

In [19]:
newdf =df.reset_index(drop=True) # Resetting Row indexes after successful cleaning

In [20]:
newdf # newdf has only 23115 rows , before there were 40k+ rows

,"1002 - Government College of Engineering, Amravati",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,100219110 - Civil Engineering,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Status:,Government Autonomous,NaN,Home University : Sant Gadge Baba Amravati Uni...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,GOPENS,GSCS,GSTS,GVJS,GNT2S,GNT3S,GOBCS,GSEBCS,LOPENS,...,LNT2S,LOBCS,LSEBCS,PWDOPENS,DEFOPENS,EWS,TFWS,NaN,NaN,NaN
3,I,9698,16599,28642,11127,19612,10381,11430,14127,8428,...,11019,11580,22466,29243,15132,23463,5336,NaN,NaN,NaN
4,NaN,(95.4813409),(91.9454241),(83.7510773),(94.7976941),(90.2192884),(95.1547258),(94.6416286),(93.2804907),(96.0918433),...,(94.8483883),(94.5663116),(88.4395617),(83.2108225),(92.7416843),(87.7548286),(97.5366265),NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23110,Status:,Home University : Dr. Babasaheb Ambedkar Techn...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23111,NaN,LOPENH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23112,I,69650,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23113,NaN,(24.0098347),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23114,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
asdf =newdf[[newdf.iloc[i,:].str.contains("Home University : Savitribai Phule Pune University", na=False).any()  for i in range(0,len(newdf))]]
#fetching indexes of Phule pune

In [40]:
arr = list(asdf.index)

In [43]:
arr

[11604,
 11625,
 11641,
 11657,
 11673,
 11689,
 11709,
 11730,
 11750,
 11766,
 11781,
 11797,
 11817,
 11830,
 11848,
 11867,
 11880,
 11895,
 11920,
 11938,
 11954,
 11974,
 11995,
 12015,
 12040,
 12063,
 12084,
 12100,
 12116,
 12136,
 12152,
 12171,
 12187,
 12203,
 12223,
 12236,
 12246,
 12263,
 12270,
 12277,
 12293,
 12312,
 12328,
 12344,
 12357,
 12373,
 12393,
 12413,
 12429,
 12445,
 12466,
 12485,
 12498,
 12578,
 12585,
 12590,
 12595,
 12602,
 12609,
 12618,
 12639,
 12655,
 12675,
 12691,
 12713,
 12729,
 12745,
 12764,
 12783,
 12799,
 12810,
 12823,
 13156,
 13167,
 13180,
 13196,
 13214,
 13222,
 13235,
 13243,
 13253,
 13269,
 13285,
 13301,
 13314,
 13330,
 13350,
 13363,
 13377,
 13387,
 13410,
 13426,
 13442,
 13455,
 13473,
 13490,
 13497,
 13505,
 13518,
 13533,
 13546,
 13559,
 13575,
 13586,
 13596,
 13652,
 13673,
 13692,
 13708,
 13725,
 13747,
 13763,
 13774,
 13787,
 13797,
 13815,
 13833,
 13841,
 13889,
 13907,
 13923,
 13936,
 13953,
 13965,
 13986,
 13997,
 14004,
 14066,
 14079,
 14093,
 14100,
 14107,
 14115,
 14131,
 14136,
 14149,
 14154,
 14170,
 14177,
 14191,
 14198,
 14205,
 14213,
 14229,
 14234,
 14250,
 14263,
 14284,
 14305,
 14321,
 14418,
 14434,
 14445,
 14458,
 14474,
 14497,
 14547,
 14552,
 14557,
 14562,
 14567,
 14577,
 14582,
 14587,
 14752,
 14774,
 14793,
 14812,
 14834,
 14844,
 14857,
 14873,
 14891,
 14899,
 14909,
 14925,
 14938,
 14954,
 14970,
 14992,
 15009,
 15029,
 15049,
 15071,
 15078,
 15083,
 15088,
 15097,
 15102,
 15111,
 15119,
 15135,
 15156,
 15170,
 15180,
 15191,
 15204,
 15224,
 15240,
 15265,
 15287,
 15292,
 15297,
 15304,
 15311,
 15316,
 15321,
 15328,
 15336,
 15349,
 15367,
 15374,
 15381,
 15386,
 15391,
 15396,
 15403,
 15412,
 15428,
 15444,
 15464,
 15480,
 15502,
 15526,
 15546,
 15568,
 15581,
 15597,
 15622,
 15639,
 15652,
 15673,
 15691,
 15707,
 15718,
 15731,
 15747,
 15763,
 15783,
 15794,
 15807,
 15827,
 15840,
 15860,
 15876,
 15894,
 15909,
 15927,
 15943,
 15959,
 15979,
 15992,
 16014,
 16034,
 16056,
 16075,
 16091,
 16102,
 16115,
 16133,
 16146,
 16168,
 16190,
 16210,
 16225,
 16245,
 16255,
 16277,
 16290,
 16306,
 16327,
 16342,
 16357,
 16368,
 16375,
 16393,
 16409,
 16425,
 16432,
 16440,
 16450,
 16466,
 16484,
 16502,
 16524,
 16537,
 16552,
 16572,
 16587,
 16602,
 16618,
 16634,
 16649,
 16656,
 16674,
 16690,
 16710,
 16726,
 16744,
 16752,
 16765,
 16778,
 16796,
 16812,
 16823,
 16836,
 16854,
 16877,
 16897,
 16919,
 17849,
 17860,
 17873,
 17889,
 17905,
 17925,
 17944,
 17962,
 17978,
 17994,
 18012,
 18032,
 18052,
 18071,
 18093,
 18098,
 18103,
 18108,
 18118,
 18125,
 18130,
 18137,
 18146,
 18151,
 18158,
 18167,
 18180,
 18196,
 18212,
 18230,
 18253,
 18269,
 18290,
 18303,
 18321,
 18337,
 18350,
 18368,
 18373,
 18378,
 18383,
 18388,
 18395,
 18400,
 18495,
 18511,
 18522,
 18535,
 18551,
 18567,
 18587,
 18607,
 18629,
 18651,
 18667,
 18680,
 18696,
 18721,
 18737,
 18748,
 18761,
 18784,
 18805,
 18821,
 18893,
 18912,
 18929,
 18942,
 18961,
 18980,
 19000,
 19013,
 19029,
 19112,
 19117,
 19122,
 19127,
 19140,
 19147,
 19152,
 19159,
 19218,
 19238,
 19254,
 19270,
 19295,
 19315,
 19328,
 19350,
 19468,
 19486,
 19507,
 19523,
 19539,
 19561,
 19628,
 19644,
 19667,
 19680,
 19705,
 19721,
 19736,
 19756,
 19772,
 19993,
 20011,
 20030,
 20046,
 20062,
 20078,
 20088,
 20107,
 20115,
 20171,
 20185,
 20195,
 20205,
 20218,
 20236,
 20252,
 20267,
 20280,
 20296,
 20309,
 20325,
 20336,
 20349,
 20591,
 20596,
 20616,
 20624,
 20631,
 20653,
 20669,
 20685,
 20705,
 20718,
 20736,
 20744,
 20754,
 20765,
 20772,
 20785,
 20798,
 20808,
 20815,
 20830,
 20848,
 20864,
 20871,
 20881,
 20894,
 20910,
 20917,
 20924,
 20939,
 20955,
 20969,
 21180,
 21198,
 21209,
 21222,
 21238,
 21258,
 21280,
 21293,
 21309,
 21326,
 21342,
 21360,
 21376,
 21396,
 21412,
 21428,
 21450,
 21595,
 21611,
 21619,
 21632,
 21640,
 21645,
 21759,
 21778,
 21791,
 21801,
 21820,
 21830,
 21845,
 21863,
 21884,
 21892,
 21905,
 21925,
 21943,
 21953,
 21973,
 21995,
 22011,
 22027,
 22038,
 22207,
 22221,
 22241,
 22251,
 22273,
 22283,
 22296,
 22317,
 22337,
 22345,
 22355,
 22363,
 22378,
 22389,
 22402,
 22424,
 22440,
 22460,
 22551,
 22573,
 22586,
 22602,
 22620,
 22642,
 22749,
 22774,
 22787,
 22809,
 22827,
 22843,
 22862,
 22879,
 22897,
 22912,
 22930]

In [89]:
clg_name_list=[]
GOPENS_rank_list=[]
GOPENH_rank_list=[]
for idx_num in arr:
    if "Civil" in newdf.iloc[idx_num-1,0]:
        GOPENH_rank_list.append(newdf.iloc[idx_num+2,1])
        clg_name_list.append(newdf.iloc[idx_num-2,0])
        if "GOPENH" in newdf.iloc[idx_num+1,1] or "GOPENS" in newdf.iloc[idx_num+1,1] :
            GOPENS_rank_list.append(newdf.iloc[idx_num+2,1])

In [54]:
t

79

In [48]:
newdf.iloc[11919,0]

'512137210 - Electronics and Telecommunication Engg'

In [62]:
clg_name_list

["5108 - Nashik District Maratha Vidya Prasarak Samaj's Karmaveer Adv.Babaurao Ganpatrao Thakare College of Engineering, Nashik",
 '5109 - Sandip Foundation, Sandip Institute of Technology and Research Centre, Mahiravani, Nashik',
 '5121 - K. K. Wagh Institute of Engineering Education and Research, Nashik',
 '5121 - K. K. Wagh Institute of Engineering Education and Research, Nashik',
 "5124 - Jagadamba Education Soc. Nashik's S.N.D. College of Engineering & Reserch, Babulgaon",
 '5130 - Brahma Valley College of Engineering & Research, Trimbakeshwar, Nashik',
 '5139 - Pravara Rural College of Engineering, Loni, Pravaranagar, Ahmednagar.',
 "5151 - MET Bhujbal Knowledge City MET League's Engineering College, Adgaon, Nashik.",
 "5160 - Sanjivani Rural Education Society's Sanjivani College of Engineering, Kopargaon",
 '5161 - Dr. Vithalrao Vikhe Patil College of Engineering, Ahmednagar',
 "5162 - Amrutvahini Sheti & Shikshan Vikas Sanstha's Amrutvahini College of Engineering, Sangamner",
 "5173 - SNJB's Late Sau. Kantabai Bhavarlalji Jain College of Engineering,",
 '5176 - G. H. Raisoni College of Engineering and Management, Ahmednagar',
 '5177 - Matoshri College of Engineering and Research Centre, Eklahare, Nashik',
 "5179 - Vishwabharati Academy's College of Engineering, Ahmednagar",
 "5181 - Gokhale Education Society's, R.H. Sapat College of Engineering, Management Studies and Research, Nashik",
 "5184 - Amruta Vaishnavi Education & Welfare Trust's Shatabdi Institute of Engineering & Research, Agaskhind Tal. Sinnar",
 '5303 - Hon. Shri. Babanrao Pachpute Vichardhara Trust, Group of Institutions (Integrated Campus)-Parikrama, Kashti Shrigondha,',
 "5331 - Sandip Foundation's, Sandip Institute of Engineering & Management, Nashik",
 "5380 - Adsul's Technical Campus, Chas Dist. Ahmednagar",
 '5382 - Ahmednagar Jilha Maratha Vidya Prasarak Samajache, Shri. Chhatrapati Shivaji Maharaj College of Engineering, Nepti',
 "5390 - K.V.N. Naik S. P. Sansth's Loknete Gopinathji Munde Institute of Engineering Education & Research, Nashik.",
 '5399 - Sanghavi College of Engineering, Varvandi, Nashik.',
 "5401 - Jawahar Education Society's Institute of Technology, Management & Research, Nashik.",
 '5408 - Vidya Niketan College of Engineering, Bota Sangamner',
 '5411 - Maulana Mukhtar Ahmad Nadvi Technical Campus, Malegaon.',
 '5418 - Guru Gobind Singh College of Engineering & Research Centre, Nashik.',
 '6004 - Government College of Engineering & Research, Avasari Khurd',
 '6006 - College of Engineering, Pune',
 "6122 - TSSMS's Pd. Vasantdada Patil Institute of Technology, Bavdhan, Pune",
 '6138 - Genba Sopanrao Moze Trust Parvatibai Genba Moze College of Engineering,Wagholi, Pune',
 "6141 - Jaywant Shikshan Prasarak Mandal's,Rajarshi Shahu College of Engineering, Tathawade, Pune",
 '6144 - Genba Sopanrao Moze College of Engineering, Baner-Balewadi, Pune',
 '6146 - MIT Academy of Engineering,Alandi, Pune',
 '6149 - Choudhary Attar Singh Yadav Memorial Trust,Siddhant College of Engineering, Maval',
 '6155 - G.H.Raisoni College of Engineering & Management, Wagholi, Pune',
 "6160 - JSPM's Imperial College of Engineering and Research, Wagholi, Pune",
 "6160 - JSPM's Imperial College of Engineering and Research, Wagholi, Pune",
 '6175 - Pimpri Chinchwad Education Trust, Pimpri Chinchwad College of Engineering, Pune',
 '6176 - G. H.Raisoni Institute of Engineering and Technology, Wagholi, Pune',
 '6177 - Sinhgad College of Engineering, Vadgaon (BK), Pune',
 '6177 - Sinhgad College of Engineering, Vadgaon (BK), Pune',
 '6179 - Indira College of Engineering & Management, Pune',
 '6182 - Sinhgad Technical Education Society, Sinhgad Institute of Technology and Science, Narhe (Ambegaon)',
 "6184 - K. J.'s Educational Institut Trinity College of Engineering and Research, Pisoli, Haveli",
 '6187 - Sinhgad Academy of Engineering, Kondhwa (BK)',
 "6203 - Marathwada Mitra Mandal's Institute of Technology, Lohgaon, Pune",
 '6207 - Dr. D. Y. Patil Vidya Pratishthan Society Dr .D. Y. Patil Institute of Engineering & Technology, Pimpri,Pune',
 "6272 - Dr. D. Y. Patil Pratishthan's D.Y.Patil College of Engineering Akurdi, Pune",
 "6272 - Dr. D. Y. Patil Pratishthan's D.Y.Patil College of Engineering Akurdi, Pune",
 "6275 - Shivnagar Vidya Prasarak Mandal's College of Engineering, Malegaon-Baramati",
 "6278 - All India Shri Shivaji Memorial Society's College of Engineering, Pune",
 "6284 - Vidya Pratishthan's Kamalnayan Bajaj Institute of Engineering & Technology, Baramati Dist.Pune",
 "6289 - B.R.A.C.T's Vishwakarma Institute of Information Technology, Kondhwa (Bk.), Pune",
 "6298 - Zeal Education Society's Zeal College of Engineering & Reserch, Narhe, Pune",
 '6307 - Dhole Patil Education Society, Dhole Patil College of Engineering, Wagholi, Tal. Haveli',
 '6319 - Shahajirao Patil Vikas Pratishthan, S.B.Patil College of Engineering, Vangali, Tal. Indapur',
 "6320 - K.J.'s Educational Institute's K.J.College of Engineering & Management Research, Pisoli",
 "6324 - Rajgad Dnyanpeeth's Technical Campus,Dhangwadi, Bhor",
 '6325 - Alard',
 '6609 - Jaihind College Of Engineering,Kuran',
 '6620 - D. Y. Patil Institute of Engineering and Technology, Ambi',
 '6628 - Dattakala Group Of Institutions, Swami - Chincholi Tal. Daund Dist. Pune',
 "6632 - Navsahyadri Education Society's Group of Institutions",
 "6634 - KJEI's Trinity Academy of Engineering, Yewalewadi, Pune",
 '6635 - Samarth Group of Institutions, Bangarwadi, Post Belhe Tal. Junnar Dist. Pune',
 "6649 - TSSM's Bhivarabai Sawant College of Engineering and Research, Narhe, Pune",
 '6732 - Dr. D. Y. Patil School OF Engineering, Lohegaon, Pune',
 '6755 - JSPM Narhe Technical Campus, Pune.',
 '6759 - Shree Ramchandra College of Engineering, Lonikand,Pune',
 '6768 - P.K. Technical Campus, Pune.',
 '6769 - Rasiklal M. Dhariwal Sinhgad Technical Institutes Campus, Warje, Pune.',
 "6787 - Dr. D. Y. Patil Educational Academy's, D.Y.Patil School of Engineering Academy, Ambi",
 '6794 - Anantrao Pawar College of Engineering & Research, Pune',
 '6795 - Shri.Someshwar Shikshan Prasarak Mandals, Someshwar Engineering College, Someshwar Nagar',
 "6796 - Bharati Vidyapeeth's College of Engineering,Lavale, Pune",
 '6802 - Dr. D.Y.Patil Institute of Engineering, Management & Reseach, Akurdi, Pune',
 "6822 - Pimpri Chinchwad Education Trust's Pimpri Chinchwad College Of Engineering And Research, Ravet",
 '6834 - Dr.D.Y.Patil College Of Engineering & Innovation,Talegaon']

In [79]:
GOPENS_rank_list

['38617',
 '50417',
 '22937',
 '32662',
 '53420',
 '62679',
 '37793',
 '39672',
 '37829',
 '36668',
 '34835',
 '51433',
 '84289',
 '80859',
 '59772',
 '52670',
 '32066',
 '76658',
 '86676',
 '65050',
 '46250',
 '72194',
 '43272',
 '76835',
 '86342',
 '64014',
 '12456',
 '1255',
 '86350',
 '86522',
 '32932',
 '39934',
 '16173',
 '77715',
 '48052',
 '54833',
 '85727',
 '12971',
 '86331',
 '32805',
 '50805',
 '75089',
 '85995',
 '83189',
 '86733',
 '69340',
 '45456',
 '40070',
 '48387',
 '70739',
 '28635',
 '51428',
 '14178',
 '77452',
 '70199',
 '87078',
 '80753',
 '78636',
 '23543',
 '86104',
 '80689',
 '77441',
 '85375',
 '86552',
 '53775',
 '86534',
 '58410',
 '86681',
 '68434',
 '83588',
 '86401',
 '82394',
 '84687',
 '81692',
 '59535',
 '46359',
 '41752',
 '84073']

In [74]:
len(clg_name_list)

79

In [98]:
len(GOPENH_rank_list)

79

In [122]:
testdf = pd.DataFrame()

In [123]:
testdf['CollegeName']  = clg_name_list

In [126]:
GOPENH_rank_list[28]='01255'

In [127]:
testdf['GOPENH/GOPENS']  = GOPENH_rank_list

In [128]:
testdf

                                          CollegeName GOPENH/GOPENS
0   5108 - Nashik District Maratha Vidya Prasarak ...         38617
1   5109 - Sandip Foundation, Sandip Institute of ...         50417
2   5121 - K. K. Wagh Institute of Engineering Edu...         22937
3   5121 - K. K. Wagh Institute of Engineering Edu...         32662
4   5124 - Jagadamba Education Soc. Nashik's S.N.D...         53420
5   5130 - Brahma Valley College of Engineering & ...         62679
6   5139 - Pravara Rural College of Engineering, L...         37793
7   5151 - MET Bhujbal Knowledge City MET League's...         39672
8   5160 - Sanjivani Rural Education Society's San...         37829
9   5161 - Dr. Vithalrao Vikhe Patil College of En...         36668
10  5162 - Amrutvahini Sheti & Shikshan Vikas Sans...         34835
11  5173 - SNJB's Late Sau. Kantabai Bhavarlalji J...         51433
12  5176 - G. H. Raisoni College of Engineering an...         84289
13  5177 - Matoshri College of Engineering and Res...         80859
14  5179 - Vishwabharati Academy's College of Engi...         59772
15  5181 - Gokhale Education Society's, R.H. Sapat...         52670
16  5184 - Amruta Vaishnavi Education & Welfare Tr...         32066
17  5303 - Hon. Shri. Babanrao Pachpute Vichardhar...         76658
18  5331 - Sandip Foundation's, Sandip Institute o...         86676
19  5380 - Adsul's Technical Campus, Chas Dist. Ah...         65050
20  5382 - Ahmednagar Jilha Maratha Vidya Prasarak...         46250
21  5390 - K.V.N. Naik S. P. Sansth's Loknete Gopi...         72194
22  5399 - Sanghavi College of Engineering, Varvan...         43272
23  5401 - Jawahar Education Society's Institute o...         75253
24  5408 - Vidya Niketan College of Engineering, B...         76835
25  5411 - Maulana Mukhtar Ahmad Nadvi Technical C...         86342
26  5418 - Guru Gobind Singh College of Engineerin...         64014
27  6004 - Government College of Engineering & Res...         12456
28                6006 - College of Engineering, Pune         01255
29  6122 - TSSMS's Pd. Vasantdada Patil Institute ...         86350
30  6138 - Genba Sopanrao Moze Trust Parvatibai Ge...         86522
31  6141 - Jaywant Shikshan Prasarak Mandal's,Raja...         32932
32  6144 - Genba Sopanrao Moze College of Engineer...         39934
33     6146 - MIT Academy of Engineering,Alandi, Pune         16173
34  6149 - Choudhary Attar Singh Yadav Memorial Tr...         77715
35  6155 - G.H.Raisoni College of Engineering & Ma...         48052
36  6160 - JSPM's Imperial College of Engineering ...         54833
37  6160 - JSPM's Imperial College of Engineering ...         85727
38  6175 - Pimpri Chinchwad Education Trust, Pimpr...         12971
39  6176 - G. H.Raisoni Institute of Engineering a...         86331
40  6177 - Sinhgad College of Engineering, Vadgaon...         32805
41  6177 - Sinhgad College of Engineering, Vadgaon...         50805
42  6179 - Indira College of Engineering & Managem...         75089
43  6182 - Sinhgad Technical Education Society, Si...         85995
44  6184 - K. J.'s Educational Institut Trinity Co...         83189
45  6187 - Sinhgad Academy of Engineering, Kondhwa...         86733
46  6203 - Marathwada Mitra Mandal's Institute of ...         69340
47  6207 - Dr. D. Y. Patil Vidya Pratishthan Socie...         45456
48  6272 - Dr. D. Y. Patil Pratishthan's D.Y.Patil...         40070
49  6272 - Dr. D. Y. Patil Pratishthan's D.Y.Patil...         48387
50  6275 - Shivnagar Vidya Prasarak Mandal's Colle...         70739
51  6278 - All India Shri Shivaji Memorial Society...         28635
52  6284 - Vidya Pratishthan's Kamalnayan Bajaj In...         51428
53  6289 - B.R.A.C.T's Vishwakarma Institute of In...         14178
54  6298 - Zeal Education Society's Zeal College o...         77452
55  6307 - Dhole Patil Education Society, Dhole Pa...         70199
56  6319 - Shahajirao Patil Vikas Pratishthan, S.B...         87078
57  6320 - K.J.'s Educational Institute's K.J.Coll...         80753
58  6324 - Rajgad Dnyanpeeth's Technical Campus,Dh...         78636
59                                       6325 - Alard         23543
60        6609 - Jaihind College Of Engineering,Kuran         86104
61  6620 - D. Y. Patil Institute of Engineering an...         80689
62  6628 - Dattakala Group Of Institutions, Swami ...         77441
63  6632 - Navsahyadri Education Society's Group o...         85375
64  6634 - KJEI's Trinity Academy of Engineering, ...         86552
65  6635 - Samarth Group of Institutions, Bangarwa...         53775
66  6649 - TSSM's Bhivarabai Sawant College of Eng...         86534
67  6732 - Dr. D. Y. Patil School OF Engineering, ...         58410
68          6755 - JSPM Narhe Technical Campus, Pune.         86681
69  6759 - Shree Ramchandra College of Engineering...         68434
70                6768 - P.K. Technical Campus, Pune.         83588
71  6769 - Rasiklal M. Dhariwal Sinhgad Technical ...         86401
72  6787 - Dr. D. Y. Patil Educational Academy's, ...         82394
73  6794 - Anantrao Pawar College of Engineering &...         84687
74  6795 - Shri.Someshwar Shikshan Prasarak Mandal...         81692
75  6796 - Bharati Vidyapeeth's College of Enginee...         59535
76  6802 - Dr. D.Y.Patil Institute of Engineering,...         46359
77  6822 - Pimpri Chinchwad Education Trust's Pimp...         41752
78  6834 - Dr.D.Y.Patil College Of Engineering & I...         84073

In [131]:
testdf.sort_values(by=['GOPENH/GOPENS'],inplace=True)

In [132]:
testdf

                                          CollegeName GOPENH/GOPENS
28                6006 - College of Engineering, Pune         01255
27  6004 - Government College of Engineering & Res...         12456
38  6175 - Pimpri Chinchwad Education Trust, Pimpr...         12971
53  6289 - B.R.A.C.T's Vishwakarma Institute of In...         14178
33     6146 - MIT Academy of Engineering,Alandi, Pune         16173
2   5121 - K. K. Wagh Institute of Engineering Edu...         22937
59                                       6325 - Alard         23543
51  6278 - All India Shri Shivaji Memorial Society...         28635
16  5184 - Amruta Vaishnavi Education & Welfare Tr...         32066
3   5121 - K. K. Wagh Institute of Engineering Edu...         32662
40  6177 - Sinhgad College of Engineering, Vadgaon...         32805
31  6141 - Jaywant Shikshan Prasarak Mandal's,Raja...         32932
10  5162 - Amrutvahini Sheti & Shikshan Vikas Sans...         34835
9   5161 - Dr. Vithalrao Vikhe Patil College of En...         36668
6   5139 - Pravara Rural College of Engineering, L...         37793
8   5160 - Sanjivani Rural Education Society's San...         37829
0   5108 - Nashik District Maratha Vidya Prasarak ...         38617
7   5151 - MET Bhujbal Knowledge City MET League's...         39672
32  6144 - Genba Sopanrao Moze College of Engineer...         39934
48  6272 - Dr. D. Y. Patil Pratishthan's D.Y.Patil...         40070
77  6822 - Pimpri Chinchwad Education Trust's Pimp...         41752
22  5399 - Sanghavi College of Engineering, Varvan...         43272
47  6207 - Dr. D. Y. Patil Vidya Pratishthan Socie...         45456
20  5382 - Ahmednagar Jilha Maratha Vidya Prasarak...         46250
76  6802 - Dr. D.Y.Patil Institute of Engineering,...         46359
35  6155 - G.H.Raisoni College of Engineering & Ma...         48052
49  6272 - Dr. D. Y. Patil Pratishthan's D.Y.Patil...         48387
1   5109 - Sandip Foundation, Sandip Institute of ...         50417
41  6177 - Sinhgad College of Engineering, Vadgaon...         50805
52  6284 - Vidya Pratishthan's Kamalnayan Bajaj In...         51428
11  5173 - SNJB's Late Sau. Kantabai Bhavarlalji J...         51433
15  5181 - Gokhale Education Society's, R.H. Sapat...         52670
4   5124 - Jagadamba Education Soc. Nashik's S.N.D...         53420
65  6635 - Samarth Group of Institutions, Bangarwa...         53775
36  6160 - JSPM's Imperial College of Engineering ...         54833
67  6732 - Dr. D. Y. Patil School OF Engineering, ...         58410
75  6796 - Bharati Vidyapeeth's College of Enginee...         59535
14  5179 - Vishwabharati Academy's College of Engi...         59772
5   5130 - Brahma Valley College of Engineering & ...         62679
26  5418 - Guru Gobind Singh College of Engineerin...         64014
19  5380 - Adsul's Technical Campus, Chas Dist. Ah...         65050
69  6759 - Shree Ramchandra College of Engineering...         68434
46  6203 - Marathwada Mitra Mandal's Institute of ...         69340
55  6307 - Dhole Patil Education Society, Dhole Pa...         70199
50  6275 - Shivnagar Vidya Prasarak Mandal's Colle...         70739
21  5390 - K.V.N. Naik S. P. Sansth's Loknete Gopi...         72194
42  6179 - Indira College of Engineering & Managem...         75089
23  5401 - Jawahar Education Society's Institute o...         75253
17  5303 - Hon. Shri. Babanrao Pachpute Vichardhar...         76658
24  5408 - Vidya Niketan College of Engineering, B...         76835
62  6628 - Dattakala Group Of Institutions, Swami ...         77441
54  6298 - Zeal Education Society's Zeal College o...         77452
34  6149 - Choudhary Attar Singh Yadav Memorial Tr...         77715
58  6324 - Rajgad Dnyanpeeth's Technical Campus,Dh...         78636
61  6620 - D. Y. Patil Institute of Engineering an...         80689
57  6320 - K.J.'s Educational Institute's K.J.Coll...         80753
13  5177 - Matoshri College of Engineering and Res...         80859
74  6795 - Shri.Someshwar Shikshan Prasarak Mandal...         81692
72  6787 - Dr. D. Y. Patil Educational Academy's, ...         82394
44  6184 - K. J.'s Educational Institut Trinity Co...         83189
70                6768 - P.K. Technical Campus, Pune.         83588
78  6834 - Dr.D.Y.Patil College Of Engineering & I...         84073
12  5176 - G. H. Raisoni College of Engineering an...         84289
73  6794 - Anantrao Pawar College of Engineering &...         84687
63  6632 - Navsahyadri Education Society's Group o...         85375
37  6160 - JSPM's Imperial College of Engineering ...         85727
43  6182 - Sinhgad Technical Education Society, Si...         85995
60        6609 - Jaihind College Of Engineering,Kuran         86104
39  6176 - G. H.Raisoni Institute of Engineering a...         86331
25  5411 - Maulana Mukhtar Ahmad Nadvi Technical C...         86342
29  6122 - TSSMS's Pd. Vasantdada Patil Institute ...         86350
71  6769 - Rasiklal M. Dhariwal Sinhgad Technical ...         86401
30  6138 - Genba Sopanrao Moze Trust Parvatibai Ge...         86522
66  6649 - TSSM's Bhivarabai Sawant College of Eng...         86534
64  6634 - KJEI's Trinity Academy of Engineering, ...         86552
18  5331 - Sandip Foundation's, Sandip Institute o...         86676
68          6755 - JSPM Narhe Technical Campus, Pune.         86681
45  6187 - Sinhgad Academy of Engineering, Kondhwa...         86733
56  6319 - Shahajirao Patil Vikas Pratishthan, S.B...         87078

In [133]:
# Picking top 10 colleges from resultant DataFrame:

In [136]:
testdf.head(10)

                                          CollegeName GOPENH/GOPENS
28                6006 - College of Engineering, Pune         01255
27  6004 - Government College of Engineering & Res...         12456
38  6175 - Pimpri Chinchwad Education Trust, Pimpr...         12971
53  6289 - B.R.A.C.T's Vishwakarma Institute of In...         14178
33     6146 - MIT Academy of Engineering,Alandi, Pune         16173
2   5121 - K. K. Wagh Institute of Engineering Edu...         22937
59                                       6325 - Alard         23543
51  6278 - All India Shri Shivaji Memorial Society...         28635
16  5184 - Amruta Vaishnavi Education & Welfare Tr...         32066
3   5121 - K. K. Wagh Institute of Engineering Edu...         32662

In [137]:
# Second part of the problem where we have to consider GOPENS, GSCS, GSTS,etc

In [138]:
# We will search for GSCS GSTS etc for the same way I did for GOPENS/H 
# We will append those lists into the resultant dataframe
# Then we will sort the data frame using multiple columns

In [ ]:
# df.sort_values(by=['First Column','Second Column',...], inplace=True)